canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper {
    position: relative;
    width: 750px;
    height: 500px;
}
.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#date{
    background: #FF6633; 
    font-family: AppleGothic; 
    font-size: 85%; 
    color: #000000; 
    border: 1px solid;
}
#temp{
    background: #FF6633; 
    font-family: AppleGothic; 
    font-size: 85%; 
    color: #000000; 
    border: 1px solid
}
#canvas{
    border: 4px
    double #40E0D0;
}
#canvas2{
    border: 0px
    solid #40E0D0;
}